services:
  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - "11434:11434"
    
    command: ["ollama", "serve"]

    volumes:
      - ./models:/root/.ollama/models
      
  