[project]
name = "api"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "black>=25.12.0",
    "fastapi>=0.127.0",
    "python-dotenv>=1.2.1",
    "uvicorn>=0.40.0",
]
